body{
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

nav, .button-getdrink {
  display: flex;
  justify-content: center;


  
}

nav > button, .button-getdrink > button {
  padding: 10px;
}

h1, h2, h3 {
  text-align: center;
}
  
  @media (min-width: 768px) {
   p {
    text-align: left;
   } 
  }

.drink-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.drink-list > div {
  width: 23%;
}

@media (min-width: 576px) {
  .drink-list > div {
    width: 45%
  }
}


@media (min-width: 768px) {
  .drink-list > div {
    width: 23%
  }
}

.drink-list > div > img {
  width: 100%;
  margin: 0 auto; 
  display: black;
  object-fit: contain;
  aspect-ratio: 4/6;

}




